%h4 Edit the observation

%b
  Please fill-in the data about the observation you found. If used we encourage authors to cite the both reference papers.

= render 'form_edit'
%p


= link_to 'Back', observations_path