.row
  .col-md-6
    %h4 Edit the observation
  .col-md-6
    = link_to 'Delete Observation', @observation, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger pull-right"

= render 'form'
%p
