<html>
  <head><b>As: Experiment II</b></head>
  <body>

    <script
        id="21e36e95-16fc-4bfa-8572-8ed7152c4fcc"
        async="true"
        data-bokeh-data="static"
        data-bokeh-modelid="414785ee-6228-497e-a2f7-812f85cd956e"
        data-bokeh-modeltype="Plot"
        data-bokeh-loglevel="info"
        ></script>  

  <p>
    <div
      class="fb-like"
      data-share="true"
      data-width="450"
      data-show-faces="true">
  </div>

  </p>
       Figure 1: Here you may see the interplay of sorption and biologically mediated detoxification reactions
        </body>
</html>

<%= javascript_include_tag('bokeh-0.9.0.js') %>
<%= javascript_include_tag('as.js') %>