.row-fluid
  .span6.pull-right
    %a.twitter-timeline{"data-widget-id" => "630139922205253632", :href => "https://twitter.com/biogeochem_org/lists/the-biogeochemistry-news"} Tweets from https://twitter.com/biogeochem_org/lists/the-biogeochemistry-news
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");